@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Raleway&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
}

.header_comp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(30, 87, 185, 0.388) 0px 1px 3px -1px;
}
.title_comp {
display: flex;
min-width: 900px;
justify-content: space-between;
}

.title_comp >  a img {
    width: 100px;
    border-radius: 10px;
}
.title_comp  .title {
    text-align: center;
    color: red;
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
}
.nav-items > ul > li {
    padding: 10px;
}

h5 {
    text-align: center;
    font-size: larger;
}

.card-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 85px;
}
.card {
    position: relative;
    margin-bottom: 85px;
}
.card-link {
    background: #fff;
    border: 1px solid black;
    display: block;
    text-decoration: none;
    margin: -20px -20px -41px;
}
.card-details {
    padding: 20px 20px 57px;
    border: 1px solid #fff;
    contain: content;
    width: 254px;
    min-height: 297px;
}
.card-details h2 {
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
}

.card-details .h3 {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
}
.card-details h4 {
    color: #db7c38;
    font-size: 10px;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.img_card {
    background: #eef0f5;
    position: relative;
}
.img_card > img {
    transition: opacity .3s ease-out;
    width: 254px;
    height: 160px;
    position: relative;
}
.rest_body {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    background: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: 0;
}
.rest_header {
    font-weight: 600;
    font-size: 28px;
    height: 72px;
    position: relative
}

.rest_list {
    padding-top: 39px;
    margin-top: -10px;
    border-top: 1px solid #e9e9eb;
}

