.menu {
    display: flex;
    flex-direction: row;
}

.menuItem {
    flex-direction: column;
    gap: 5px;
    display: flex;
    margin-right: 80px;
    margin: 10px 80px 0px 20px;
}

.menuList h1 {
    margin-bottom: 20px;
}
.menuList .menuName ul li{
    list-style:disc;
}