.card {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #0000004f;;
   width:calc(350px - 20px);
}
.card-link {
    position: relative;
    text-decoration: none;
}
.card-in {
    padding: 6px;
}

.card img {
    width: 100%;
    height: 250px;
    transition: opacity .3s ease-out;
    background: #eef0f5;
}
.card-title {
    font-weight: 500;
    word-break: break-word;
    font-size: 20px;
    color: black;
  }
  
  .card-tags {
    color: #686b78;
      font-size: 16px;
      margin: 4px 0;
  }
  
.avg-rate {
    color: black;
    background-color: orange;
    border-color: orange;
    font-size: 12px;
    border-radius: 8px;
    margin: 8px 2px;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 700;
}

/* .card-link > img {
    transition: opacity .3s ease-out;
    background: #eef0f5;
    width: 100%;
    position: relative;
} */


@media screen and  (min-width: 650px) {
    .card {
        width:calc(100% - 72.6%);
    }
}


@media screen and  (min-width: 950px) {
    .card {
        width:calc(100% - 71.6%);
    }
}

@media screen and  (min-width: 1200px) {
    .card {
        width:calc(100% - 79.6%);
    }
}
