.header_comp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    /* gap: 20px; */
    max-width: 100%;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(30, 87, 185, 0.388) 0px 1px 3px -1px;
}
.title_comp {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.title_comp >  a img {
    width: 100px;
    border-radius: 10px;
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 10px 0;
}
.nav-items > ul > li {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}
  