.header_comp {
    margin: 15px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(30, 87, 185, 0.388) 0px 1px 3px -1px;
}
.title_comp {
    flex: 2;
    padding-left: 12px;
}

.title {
    text-align: center;
    color: red;
    flex: 1;
    font-size: 36px;
}
.nav-items {
    flex: 2;
    margin-left: 30px;
    margin-right: 15px;
}
.list-items {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.list-items li {
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
}
.list-items a {
    text-decoration: none;
    color: black;
}
.auth-buttons {
    display: flex;
    justify-content: space-evenly;
    min-width: 100px;
}

.auth-buttons > .login-btn , .auth-buttons > .logout-btn {
    padding: 8px 16px;
    cursor: pointer;
    color: white;
    background-color: #0e6312;
    border: none;
    border-radius: 0px;
    font-weight: 700;
}
.auth-buttons > .logout-btn {
    background-color: #656dab;
}