.footer {
    position: fixed;
    height: 50px;
    display: inline;
    left: calc(100% - 72%);
    opacity: 1;
    border: 1px solid black;
    font-size: 28px;
    bottom: 0;
    z-index: 9999;
}
